---
import Base from '../../layouts/Base.astro';
import Main from '../../layouts/Main.astro';
import CompoundCard from '../../components/CompoundCard.astro';

interface IParams {
    name: string
    svg: string
}


export async function getStaticPaths({ paginate } : any) {
	const allNPS = await Astro.glob<IParams>('../../data/json/*.json');
    return paginate(allNPS, { pageSize: 12 });
}

const { page } = Astro.props;
---

<Base title="Compounds.">
	<Main active="home">
        <section class="main-width">
            <h1 class="font-bold text-4xl mb-16">
                New Psychoactive Substances
            </h1>

            <!-- NPS grid -->
            <div class="grid grid-cols-2 lg:grid-cols-4 lg:gap-16 gap-8">
                {
                    page.data.map((x: IParams) =>
                        <CompoundCard name={x.name} svg={x.svg}/>
                    )
                }
            </div>

            <!-- Page selection -->
            <div class="flex gap-4 justify-center w-full mt-12">
                {page.url.prev ? <a href={page.url.prev}>{page.currentPage - 1}</a> : null}
                <p class="font-bold px-2 text-white bg-indigo-400 rounded-full"> {page.currentPage} </p>
                {page.url.next ? <a href={page.url.next}>{page.currentPage + 1}</a> : null}

            </div>
        </section>
	</Main>
</Base>